---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features_fiwest.astro";
import Head from "@components/headshot_header.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import Contact from "@components/contact_conninc.astro";
---

<Layout title="">
  <Container>
    <Head />
    <Features />
    <!-- <Logos /> ^ replace with lender/bank logos? -->
    <!-- <Cta /> Black and bold block statement with subtitle -->
    <br><br>
    <a id="anchor_contact" ></a>
    <Contact />
  </Container>
</Layout>
