<!-- <h1>Contact Us</h1>    -->
<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Contact Us
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Email: stephan@fiwest.com <br><br>
    Phone: (310) 373-2000 ext 100 <br><br>
    Address: 24445 Hawthorne Blvd, Suite 201 <br>
    Torrance, CA 90505
  </p>
</div>

   
   <iframe
    src="https://api.leadconnectorhq.com/widget/form/geTOgS8fwoTM3oyij4wG"
    style="width:100%;height:100%;border:none;border-radius:4px"
    id="inline-geTOgS8fwoTM3oyij4wG" 
    data-layout="{'id':'INLINE'}"
    data-trigger-type="alwaysShow"
    data-trigger-value=""
    data-activation-type="alwaysActivated"
    data-activation-value=""
    data-deactivation-type="neverDeactivate"
    data-deactivation-value=""
    data-form-name="A2P Registration"
    data-height="709"
    data-layout-iframe-id="inline-geTOgS8fwoTM3oyij4wG"
    data-form-id="geTOgS8fwoTM3oyij4wG"
    title="A2P Registration"
        >
    </iframe>
    <script src="https://link.msgsndr.com/js/form_embed.js"></script>
