<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    <!-- Copyright Â© {new Date().getFullYear()}  -->
    Finance West Lending. All rights reserved.
    </br>
    <a
      href="https://drive.google.com/file/d/1QBenvwfHBrkzguYIV1Ck_bwd7Wm_RY-s/view?usp=sharing"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Terms and Conditions
    </a>
     | 
    <a
      href="https://drive.google.com/file/d/12bWAatrQx2NGPDYwyA4tPXMF7WXNQQYx/view?usp=sharing"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Privacy Policy
    </a>
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-sm text-slate-500">
    24445 Hawthorne Blvd, Suite 201</br>Torrance, CA 90505</br></span>
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
